.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.input-container-wrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.input-label {
  font-size: 20px;
  font-weight: normal;
  font-family: Trebuchet MS, sans-serif;
  color: #9597cc;
}

.input {
	line-height: 35px;
	border-radius: 10px;
	border: 0;
	outline: none;
	font-size: 22px;
	font-weight: normal;
	font-family: Trebuchet MS, sans-serif;
	padding-left: 0.5%;
}
