.Movie-page {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.Movie-page-card {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-color: #eff0f0;
  margin-top: 20px;
  cursor: pointer;
  }
  @media screen and (max-width: 1025px) {
  .Movie-page-card {
    margin-top: 20px;
  }
}

.Movie-page-img {
  width: 100%;
  height: 50%;
}
@media screen and (max-width: 1025px) {
  .Movie-page-img {
    width: 100%;
    height: 50%;
  }
}

.genres-list {
  margin: 0;
}
