.results-list {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
@media screen and (max-width: 1025px) {
  .results-list {
    flex-direction: column;
  }
}